#head{
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
}

p{
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
}

#random-number{
    font-size: 25px; 
    text-align: center; 
}

#wins{
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
}

#losses{
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
}
#donut1{
    position: relative;
    top: 15px; 
}

#donut-choices{
    position: relative;
    left: 267px; 
}


#score{
    font-family: 'Press Start 2P', cursive;
    text-align: center; 
    
}

#totalScore{
    font-size: 20px; 
}